{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1>USER</h1>
<div class="row">
    {% for user in users %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">{{ user.email }}</p>
                <a href="#" class="btn btn-danger">Supprimeer</a>
            </div>
        </div>

    {% endfor %}
</div>

    <h1>TODO</h1>
    <div class="row">
        {% for todo in todos %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ todo.description }}</h5>
                    <p class="card-text">Créer par <u>{{ todo.user.username }}</u></p>
                    <a href="#" class="btn btn-danger">Supprimeer</a>
                </div>
            </div>

        {% endfor %}
    </div>


{% endblock %}
