{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1>USER</h1>
<div class="row">
    {% for user in users %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">{{ user.email }}</p>
                <a href="{{ path('adminShow', {id : user.id }) }}" class="btn btn-success">Afficher</a>
                <a href="#" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
